<form action="/files/create" method="POST" enctype="multipart/form-data">
    <input type="text" name="customTitle" placeholder="Título" required>
    <input type="file" name="file" required>
    <button type="submit">Agregar archivo</button>
  </form>