<%- include("partials/header.ejs")%>
    <a href="/files">Volver</a>
    <form action="/users/changePass/" method="POST">
        <input type="password" name="actualPass" id="actualPass" placeholder="Contrase単a actual" required>
        <input type="password" name="newPass" id="newPass" placeholder="Nueva contrase単a" required>
        <input type="password" name="newPassVerify" id="newPassVerify" placeholder="Repite la contrase単a" required>
        <button type="submit">Cambiar contrase単a</button>
    </form>
<%- include("partials/footer.ejs")%>
