<!DOCTYPE html>
<html>
<head>
  <title>Edit File</title>
</head>
<body>
  <h1>Edit File</h1>
  <form action="/files/update/<%= data._id %>" method="post">
    <label for="filename">Filename:</label>
    <input type="text" id="filename" name="filename" value="<%= data.filename %>">

    <label for="url">URL:</label>
    <input type="text" id="url" name="url" value="<%= data.url %>">
    <button type="submit">Update</button>
</form>
</body>
</html>